body {
    margin-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.card > div.card-header {
    display: grid;
    grid-template-columns: 4fr 4fr 1fr 1fr;
}

.card-body {
    display: grid;
    grid-template-columns: 4fr 4fr 1.125fr 1fr;
}

img {
    max-height: 300px;
}
